<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,400" rel="stylesheet"> #}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{ css }}"/>
    {# <link rel="stylesheet" href="/style.css"/> #}
    {# <link rel="stylesheet" href="/aantekeningen.css"/> #}


    <title>{{ title }}</title>
</head>


<body>
    <main>
    {# voor het geval als ik header ga implementeren #}
    {# {% include 'header' %} #}

    {{ content | safe }}

    {# voor het geval als ik footer ga implementeren #}
    {# {% include 'footer' %} #}
    </main>
</body>


</html>

