*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* fonts */
    font-family: 'Roboto Flex', sans-serif;
    /* font-variation-settings: 
    "opsz" 14,
    "wght" 400,
    "GRAD" 0,
    "wdth" 100,
    "slnt" 0,
    "XOPQ" 96,
    "YOPQ" 79,
    "XTRA" 468,
    "YTUC" 712,
    "YTLC" 514,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738; */
    font-variation-settings: 
    "opsz" 21.11, "wght" 514.59, "GRAD" 150, "wdth" 100, "slnt" 0, "XOPQ" 97.75, "YOPQ" 85.76, "XTRA" 462.66, "YTUC" 712, "YTLC" 514, "YTAS" 854, "YTDE" -305, "YTFI" 676.48;
}

@font-face {
    font-family: 'Roboto Flex';
    font-display: swap;
}
section{
    /* padding: 40px; */
    height: 100%;
    width: 100%;
    /* background-color: #111111; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, p {
    color: white;
}
h1{
    font-size: 2em;
    padding-top: 20px;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
.p-small, a{
    font-size: 16px;
}
a{
    border-color: grey;
    border: 1px solid grey;
    padding: 2px 5px;
    border-radius: 10px 5px;
    color: grey;
    margin-top: 10px;
    background-color: transparent;
    margin-left: auto;
    position: relative;
    bottom: 0;

}
a:hover{
    color: #111111;
    background-color: grey;
    transition: .5s;
}
h2, p{
    font-size: 20px;
}
.articles-list{
    height: 100%;
}
.posts{
    width: 370px;
    height: 230x;
    border: 2px solid #353535;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
