*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
    color: white;
}
section{
    padding: 40px;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: left; */
}
h1, h2, h3{
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
}
h1{
    font-size: 2rem;
    padding-top: 20px;
    font-weight: bold;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.p-small, a{
    font-size: 16px;
}
a{
    border-color: grey;
    border: 1px solid grey;
    padding: 2px 5px;
    border-radius: 10px 5px;
    color: grey;
    margin-top: 10px;
    background-color: transparent;
}
a:hover{
    color: #111111;
    background-color: grey;
    transition: .5s;
}
p{
    width: 30rem;
}

