---
layout: 'base.njk'
title: Home
css: /portfolio.css
---

<section>
    <h1 class="scroll-animate">LEMUEL</h1>
    <p>frontend</p>
    <p>designer & developer</p>
    <h2 class="scroll-animate">MAGSINO</h2>


</section>

<section>

    <ul>
        <li>About me</li>
        <li>Projects</li>
        <li>Contact</li>
    </ul>

</section>

<section class="projects">
    <h3>Projects</h3>
    
    <ul>
        <li>B-Rain <a href="https://github.com/lemuelmgsn/fix-the-flow-interactive-website">Link</a></li>
        <li>We Love Web (Notes)<a href="https://github.com/lemuelmgsn/we-love-web-notes">Link</a></li>
        <li>GRRR.tech<a href="https://github.com/lemuelmgsn/the-startup-responsive-interactieve-website">Link</a></li>
        <li>Luh Calm Fit<a href="https://github.com/lemuelmgsn/eigen-website">Link</a></li>
        <li>Profile card<a href="https://github.com/lemuelmgsn/your-tribe-for-life-profile-card">Link</a></li>
        <li>Funda<a href="https://github.com/DamianR2004/pleasurable-ui">Link</a></li>


    </ul>


</section>





